@import '/styles/mixin.scss';

header.header {
  background-color: #fff;
  color: #010101;
}

.logo {
  width: 80px;
  height: 16px;
}

.button {
  color: #222;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  margin-top: 30px;
  background-color: #002b49;
  padding: 16px 24px;
  color: #fff;
}

.scrollTop {
  position: fixed;
  right: 16px;
  bottom: 16px;

  @include md {
    right: 24px;
    bottom: 24px;
  }

  button {
    background-color: #f5b433;
    color: #fff;

    &:hover {
      background-color: #dfa42e;
    }
  }
}
