@import '/styles/mixin.scss';

.pageTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-indent: 0.05em;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin: 1.5rem auto;

  @include md {
    font-size: 2em;
    margin: 2.5rem auto;
  }
}

.productCard {
  .imageWrapper {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 75%;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
  }
}
